*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
nav{
    width: 100%;
    height: 15vh;
    background-color: black;
    border: solid 5px aliceblue;
    border-radius: 20px;
    margin-top: 20px;
    color: aliceblue;
    padding: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
}
.nav-p{
    text-align: center;
    font-size: 30px;
}
.about{
    width: 100%;
    height: 20vh;
    background-color: black;
    border: solid 5px aliceblue;
    border-radius: 20px;
    margin-top: 20px;
    color: aliceblue;
    padding: 20px;
    font-size: 28px;
    display: flex;
    flex-direction: column;
}
.image1 {
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -5.5em;
    height: 20vh;
}
#ramen-container{
    width: 100%;
    height: 60vh;
    background-color: black;
    border: solid 5px aliceblue;
    border-radius: 20px;
    margin-top: 20px;
    color: aliceblue;
    padding: 20px;
    font-size: 28px;
    align-items: center;
    text-align: center;
}
img {
    width: 500px;
    height: 40vh;
    border-radius: 10px;
}
#prev-btn {
    position: absolute;
    left: 300px; 
    top: 70%;
    transform: translateY(-50%); 
    font-size: 40px;
    background-color: aliceblue;
    border-radius: 10px;
}
#next-btn{
    position: absolute;
    right: 300px; 
    top: 70%;
    transform: translateY(-50%); 
    font-size: 40px;
    background-color: aliceblue;
    border-radius: 10px;
}
#ramen-form{
    width: 100%;
    height: 50vh;
    background-color: black;
    border: solid 5px aliceblue;
    border-radius: 20px;
    margin-top: 20px;
    color: aliceblue;
    padding: 20px;
    font-size: 30px;
   
}
input{
    font-size: 30px;
    background-color: aliceblue;
    width: 70vw;
}
.sub-btn{
    font-size: 30px;
    background-color: aliceblue;
    width: 10vw;
}
